<table   id="ventasList" class="table table-striped table-bordered table-hover table-sm "  >

	
	<thead class="thead-dark">
	<tr align="center">
		<th scope="col">Nro Venta</th>
		<th scope="col" >Fecha</th>
		<th scope="col">NroRomaneo</th>
		<th scope="col">Fecha Romaneo</th>
		<th scope="col">Nro Remito</th>
		<th scope="col">Fecha Remito</th>
		<th scope="col">Id Orden</th>
		
		<th scope="col">Observaciones</th>
		
		
	</tr>
	
	</thead>
	
	<tbody th:each="pnl: ${ventasList}">
		<tr>
			<td th:text="${pnl.OrdenNPedido}"></td>
			<td th:text="${#temporals.format(pnl.OrdenFch,'dd/MM/yy')}"></td>
			<td th:text="${pnl.NroRomaneo}"></td>
			<td th:text="${#temporals.format(pnl.FchRomaneo,'dd/MM HH:mm')}"></td>
			<td th:text="${pnl.NroRemito}"></td>
			<td th:text="${#temporals.format(pnl.FchRemito,'dd/MM HH:mm')}"></td>
			<td th:text="${pnl.OrdenId}"></td>
			<td th:text="${pnl.OrdenObs}"></td>
			
			
		</tr>
	</tbody>
	
	<!-- <tfoot  align="right">
        <tr>
          <td colspan="7">Finalizadas</td>
          <td >20</td>
        </tr>
      </tfoot> -->
	
</table>
