<table id="ventasList" class="table table-bordered table-hover table-striped"  >
	<thead class="thead-light">
	<tr>
		<th scope="col">Id Orden</th>
		<th scope="col">Fecha</th>
		<th scope="col">Observaciones</th>
		<th scope="col">Nro Pedido</th>
		<th scope="col">NroRomaneo</th>
		<th scope="col">Fecha Romaneo</th>
		<th scope="col">Nro Remito</th>
		<th scope="col">Fecha Remito</th>
		
	</tr>
	</thead>
	<tbody th:each="pnl: ${ventasList}">
	
	
		<tr  >
			<td  th:text="${pnl.OrdenId}"></td>
			 <td th:text="${#temporals.format(pnl.OrdenFch,'dd/MM/yy')}"></td>
			<td th:text="${pnl.OrdenObs}"></td>
			<td th:text="${pnl.OrdenNPedido}"></td>
			<td th:text="${pnl.NroRomaneo}"></td>
			<td th:text="${#temporals.format(pnl.FchRomaneo,'dd/MM HH:mm')}"></td>
			<td th:text="${pnl.NroRemito}"></td>
			<td th:text="${pnl.FchRemito}"></td>
			
		</tr>
	</tbody>
</table>
